:global body {
  --dashboard-background: #ffffff;
  --dashboard-text: #000000;
  --dashboard-outline: #121212;
  --dashboard-outline-dim: #e0e0e0;
  --dashboard-highlight: #ff4f00;
}

:global body.dark {
  --dashboard-background: #000000;
  --dashboard-text: #ffffff;
  --dashboard-outline: #e0e0e0;
  --dashboard-outline-dim: #121212;
}

.container {
  color: var(--dashboard-text);
}

.text {
  color: var(--dashboard-text);
  stroke: var(--dashboard-text);
  fill: var(--dashboard-text);
}
.outlinedText {
  color: var(--dashboard-text);
  text-shadow:
    -1px -1px 0 var(--dashboard-background),
    1px -1px 0 var(--dashboard-background),
    -1px 1px 0 var(--dashboard-background),
    1px 1px 0 var(--dashboard-background);
}

.svgElement {
  stroke: var(--dashboard-outline);
}
.dimSvgElement {
  stroke: var(--dashboard-outline-dim);
}
.filledSvgElement {
  stroke: var(--dashboard-outline);
  fill: var(--dashboard-background);
}
.highlightSvgElement {
  stroke: var(--dashboard-highlight);
}
