.card {
  composes: container from "../shared/colors.css";
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 10em;
  max-width: 50vw;
  display: inline-block;
  padding: 7px;
  position: relative;
}

.label {
  composes: display from "../shared/typography.css";
  font-size: 24pt;
  margin: 0;
  padding: 0;
}
.value {
  composes: body from "../shared/typography.css";
  font-size: 48pt;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.unit {
  composes: display from "../shared/typography.css";
  margin: 0;
  padding: 0;
}
.meter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
